<a href="https://colab.research.google.com/github/dayananikol/CCADMACL_EXERCISES_COM222ML/blob/main/advml_exercise2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Exercise 2: Use Gradient Boost for Regression

Instructions:

- Use the Dataset File to train your model
- Use the Test File to generate your results
- Use the Sample Submission file to generate the same format
Submit your results to:
https://www.kaggle.com/competitions/playground-series-s4e12/overview

In [733]:
import pandas as pd
import seaborn as sns
import numpy as np

from matplotlib import pyplot as plt
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.metrics import classification_report
from sklearn.model_selection import cross_val_score, train_test_split
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder, StandardScaler

Dataset
Train, test and sample submission file can be found in this link
https://www.kaggle.com/competitions/playground-series-s4e12/data

#Train Data

## 1. Load the Data

In [734]:
df = pd.read_csv('train.csv')
dt = pd.read_csv('test.csv')

pd.set_option('display.max_columns', None)

In [735]:
df.head()

,id,Age,Gender,Annual Income,Marital Status,Number of Dependents,Education Level,Occupation,Health Score,Location,Policy Type,Previous Claims,Vehicle Age,Credit Score,Insurance Duration,Policy Start Date,Customer Feedback,Smoking Status,Exercise Frequency,Property Type,Premium Amount
0,0,19.0,Female,10049.0,Married,1.0,Bachelor's,Self-Employed,22.598761,Urban,Premium,2.0,17.0,372.0,5.0,2023-12-23 15:21:39.134960,Poor,No,Weekly,House,2869.0
1,1,39.0,Female,31678.0,Divorced,3.0,Master's,NaN,15.569731,Rural,Comprehensive,1.0,12.0,694.0,2.0,2023-06-12 15:21:39.111551,Average,Yes,Monthly,House,1483.0
2,2,23.0,Male,25602.0,Divorced,3.0,High School,Self-Employed,47.177549,Suburban,Premium,1.0,14.0,NaN,3.0,2023-09-30 15:21:39.221386,Good,Yes,Weekly,House,567.0
3,3,21.0,Male,141855.0,Married,2.0,Bachelor's,NaN,10.938144,Rural,Basic,1.0,0.0,367.0,1.0,2024-06-12 15:21:39.226954,Poor,Yes,Daily,Apartment,765.0
4,4,21.0,Male,39651.0,Single,1.0,Bachelor's,Self-Employed,20.376094,Rural,Premium,0.0,8.0,598.0,4.0,2021-12-01 15:21:39.252145,Poor,Yes,Weekly,House,2022.0

In [736]:
dt.head()

,id,Age,Gender,Annual Income,Marital Status,Number of Dependents,Education Level,Occupation,Health Score,Location,Policy Type,Previous Claims,Vehicle Age,Credit Score,Insurance Duration,Policy Start Date,Customer Feedback,Smoking Status,Exercise Frequency,Property Type
0,1200000,28.0,Female,2310.0,NaN,4.0,Bachelor's,Self-Employed,7.657981,Rural,Basic,NaN,19.0,NaN,1.0,2023-06-04 15:21:39.245086,Poor,Yes,Weekly,House
1,1200001,31.0,Female,126031.0,Married,2.0,Master's,Self-Employed,13.381379,Suburban,Premium,NaN,14.0,372.0,8.0,2024-04-22 15:21:39.224915,Good,Yes,Rarely,Apartment
2,1200002,47.0,Female,17092.0,Divorced,0.0,PhD,Unemployed,24.354527,Urban,Comprehensive,NaN,16.0,819.0,9.0,2023-04-05 15:21:39.134960,Average,Yes,Monthly,Condo
3,1200003,28.0,Female,30424.0,Divorced,3.0,PhD,Self-Employed,5.136225,Suburban,Comprehensive,1.0,3.0,770.0,5.0,2023-10-25 15:21:39.134960,Poor,Yes,Daily,House
4,1200004,24.0,Male,10863.0,Divorced,2.0,High School,Unemployed,11.844155,Suburban,Premium,NaN,14.0,755.0,7.0,2021-11-26 15:21:39.259788,Average,No,Weekly,House

In [737]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200000 entries, 0 to 1199999
Data columns (total 21 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   id                    1200000 non-null  int64
 1   Age                   1181295 non-null  float64
 2   Gender                1200000 non-null  object
 3   Annual Income         1155051 non-null  float64
 4   Marital Status        1181471 non-null  object
 5   Number of Dependents  1090328 non-null  float64
 6   Education Level       1200000 non-null  object
 7   Occupation            841925 non-null   object
 8   Health Score          1125924 non-null  float64
 9   Location              1200000 non-null  object
 10  Policy Type           1200000 non-null  object
 11  Previous Claims       835971 non-null   float64
 12  Vehicle Age           1199994 non-null  float64
 13  Credit Score          1062118 non-null  float64
 14  Insurance Duration    1199999 non-null  float64
 15  Policy Start Date     1200000 non-null  object
 16  Customer Feedback     1122176 non-null  object
 17  Smoking Status        1200000 non-null  object
 18  Exercise Frequency    1200000 non-null  object
 19  Property Type         1200000 non-null  object
 20  Premium Amount        1200000 non-null  float64
dtypes: float64(9), int64(1), object(11)
memory usage: 192.3+ MB

In [738]:
dt.head()

,id,Age,Gender,Annual Income,Marital Status,Number of Dependents,Education Level,Occupation,Health Score,Location,Policy Type,Previous Claims,Vehicle Age,Credit Score,Insurance Duration,Policy Start Date,Customer Feedback,Smoking Status,Exercise Frequency,Property Type
0,1200000,28.0,Female,2310.0,NaN,4.0,Bachelor's,Self-Employed,7.657981,Rural,Basic,NaN,19.0,NaN,1.0,2023-06-04 15:21:39.245086,Poor,Yes,Weekly,House
1,1200001,31.0,Female,126031.0,Married,2.0,Master's,Self-Employed,13.381379,Suburban,Premium,NaN,14.0,372.0,8.0,2024-04-22 15:21:39.224915,Good,Yes,Rarely,Apartment
2,1200002,47.0,Female,17092.0,Divorced,0.0,PhD,Unemployed,24.354527,Urban,Comprehensive,NaN,16.0,819.0,9.0,2023-04-05 15:21:39.134960,Average,Yes,Monthly,Condo
3,1200003,28.0,Female,30424.0,Divorced,3.0,PhD,Self-Employed,5.136225,Suburban,Comprehensive,1.0,3.0,770.0,5.0,2023-10-25 15:21:39.134960,Poor,Yes,Daily,House
4,1200004,24.0,Male,10863.0,Divorced,2.0,High School,Unemployed,11.844155,Suburban,Premium,NaN,14.0,755.0,7.0,2021-11-26 15:21:39.259788,Average,No,Weekly,House

In [739]:
df.isnull().sum()

id                           0
Age                      18705
Gender                       0
Annual Income            44949
Marital Status           18529
Number of Dependents    109672
Education Level              0
Occupation              358075
Health Score             74076
Location                     0
Policy Type                  0
Previous Claims         364029
Vehicle Age                  6
Credit Score            137882
Insurance Duration           1
Policy Start Date            0
Customer Feedback        77824
Smoking Status               0
Exercise Frequency           0
Property Type                0
Premium Amount               0
dtype: int64

In [740]:
dt.isnull().sum()

id                           0
Age                      12489
Gender                       0
Annual Income            29860
Marital Status           12336
Number of Dependents     73130
Education Level              0
Occupation              239125
Health Score             49449
Location                     0
Policy Type                  0
Previous Claims         242802
Vehicle Age                  3
Credit Score             91451
Insurance Duration           2
Policy Start Date            0
Customer Feedback        52276
Smoking Status               0
Exercise Frequency           0
Property Type                0
dtype: int64

In [741]:
df.duplicated().sum()

0

In [742]:
dt.duplicated().sum()

0

- Train Data

In [743]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder

mean_imputer = SimpleImputer(strategy='mean')
median_imputer = SimpleImputer(strategy='median')
mode_imputer = SimpleImputer(strategy='most_frequent')

df['Age'] = mean_imputer.fit_transform(df[['Age']])
df['Annual Income'].fillna(df['Annual Income'].median(), inplace=True)
df['Number of Dependents'] = median_imputer.fit_transform(df[['Number of Dependents']])
df['Health Score'] = median_imputer.fit_transform(df[['Health Score']])
df['Previous Claims'] = mode_imputer.fit_transform(df[['Previous Claims']])
df['Vehicle Age'] = median_imputer.fit_transform(df[['Vehicle Age']])
df['Credit Score'] = median_imputer.fit_transform(df[['Credit Score']])
df.dropna(subset=['Premium Amount'])

# Dropping unnecessary columns
df.drop(columns=['Insurance Duration', 'Customer Feedback', 'Policy Start Date', 'Smoking Status', 'Exercise Frequency', 'Occupation', 'Gender'], inplace=True)

# Encoding categorical data
label_encoder = LabelEncoder()
df['Marital Status'] = label_encoder.fit_transform(df['Marital Status'])
df['Property Type'] = label_encoder.fit_transform(df['Property Type'])

<ipython-input-743-2537ee559fd3>:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Annual Income'].fillna(df['Annual Income'].median(), inplace=True)

In [744]:
df.isnull().sum()

id                      0
Age                     0
Annual Income           0
Marital Status          0
Number of Dependents    0
Education Level         0
Health Score            0
Location                0
Policy Type             0
Previous Claims         0
Vehicle Age             0
Credit Score            0
Property Type           0
Premium Amount          0
dtype: int64

In [745]:
dt['Age'] = mean_imputer.fit_transform(dt[['Age']])
dt['Annual Income'].fillna(dt['Annual Income'].median(), inplace=True)
dt['Number of Dependents'] = median_imputer.fit_transform(dt[['Number of Dependents']])
dt['Health Score'] = median_imputer.fit_transform(dt[['Health Score']])
dt['Previous Claims'] = mode_imputer.fit_transform(dt[['Previous Claims']])
dt['Vehicle Age'] = median_imputer.fit_transform(dt[['Vehicle Age']])
dt['Credit Score'] = median_imputer.fit_transform(dt[['Credit Score']])

# Dropping unnecessary columns
dt.drop(columns=['Insurance Duration', 'Customer Feedback', 'Policy Start Date', 'Smoking Status', 'Exercise Frequency', 'Occupation', 'Gender'], inplace=True)

# Encoding categorical data
label_encoder = LabelEncoder()
dt['Marital Status'] = label_encoder.fit_transform(dt['Marital Status'])
dt['Property Type'] = label_encoder.fit_transform(dt['Property Type'])

<ipython-input-745-ea4a885186ed>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dt['Annual Income'].fillna(dt['Annual Income'].median(), inplace=True)

## 2. Perform Data preprocessing

In [746]:
X = df.drop(["Premium Amount", "id"], axis=True)
y = df['Premium Amount']

In [747]:
categorical_features = X.select_dtypes(
   include=["object"]
).columns.tolist()

numerical_features = X.select_dtypes(
   include=["float64", "int64"]
).columns.tolist()

In [748]:
preprocessor = ColumnTransformer(
   transformers=[
       ("cat", OneHotEncoder(), categorical_features),
       ("num", StandardScaler(), numerical_features),
   ]
)

In [749]:
dt = dt.drop("id", axis=True)
dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800000 entries, 0 to 799999
Data columns (total 12 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Age                   800000 non-null  float64
 1   Annual Income         800000 non-null  float64
 2   Marital Status        800000 non-null  int64
 3   Number of Dependents  800000 non-null  float64
 4   Education Level       800000 non-null  object
 5   Health Score          800000 non-null  float64
 6   Location              800000 non-null  object
 7   Policy Type           800000 non-null  object
 8   Previous Claims       800000 non-null  float64
 9   Vehicle Age           800000 non-null  float64
 10  Credit Score          800000 non-null  float64
 11  Property Type         800000 non-null  int64
dtypes: float64(7), int64(2), object(3)
memory usage: 73.2+ MB

In [750]:
categorical_features1 = dt.select_dtypes(
   include=["object"]
).columns.tolist()

numerical_features1 = dt.select_dtypes(
   include=["float64", "int64"]
).columns.tolist()

In [751]:
preprocessor1 = ColumnTransformer(
   transformers=[
       ("cat", OneHotEncoder(), categorical_features1),
       ("num", StandardScaler(), numerical_features1),
   ]
)

dt_transformed = preprocessor1.fit_transform(dt)

## 3. Create a Pipeline

In [752]:
from xgboost import XGBRegressor

xgb_model = XGBRegressor(
    n_estimators=500,
    max_depth=10,
    learning_rate=0.03,
    random_state=40,
)

In [753]:
pipeline = Pipeline(
    steps=[
        ("preprocessor", preprocessor),
        ("regressor", xgb_model),
    ]
)

## 4. Train the Model

In [754]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

## 5. Evaluate the Model

In [755]:
# Fit the model on the training data
pipeline.fit(X_train, y_train)

# Predict on the test set
y_pred = pipeline.predict(X_test)

In [756]:
from sklearn.metrics import root_mean_squared_log_error

# Calculate the mean squared logarithmic error (MSLE)
rmsle = root_mean_squared_log_error(y_test, y_pred)

# Calculate the root mean squared logarithmic error (RMSLE) by taking the square root of the MSLE
val_rmsle = rmsle**0.5

print(f"Validation RMSE: {val_rmsle:.4f}")

Validation RMSE: 1.0710

## Generate Submission File

Choose the model that has the best performance to generate a submission file.

In [759]:
sf = pd.read_csv('sample_submission.csv')
sf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800000 entries, 0 to 799999
Data columns (total 2 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   id              800000 non-null  int64
 1   Premium Amount  800000 non-null  float64
dtypes: float64(1), int64(1)
memory usage: 12.2 MB

In [760]:
id = sf['id']
y_pred = xgb_model.predict(dt_transformed)

# Create a submission DataFrame
submission_df = pd.DataFrame({
    'id': id,
    'Premium Amount': y_pred
})

# Save the submission DataFrame to a CSV file
submission_df.to_csv('submission_file.csv', index=False)
print("Submission file created: submission_file.csv")

Submission file created: submission_file.csv